<body>

<h2>Add Student</h2>

<form action="/addStudent" method="POST">
  <label>ID</label><br>
  <input type="text"  name="_id" ><br>
  <label> Name:</label><br>
  <input type="text"  name="name" ><br>
  <label> GPA:</label><br>
  <input type="number"  name="gpa" ><br>
  
  <br>
  <input type="submit" value="Submit">
</form> 

<p><a href="http://localhost:3000/" class="btn btn-primary" role="button">Home</a></p>

</body>

