<table>
      <tr>
         <th>ID</th>
         <th>Name</th>
         <th>GPA</th>
       </tr>

       <p><a href="http://localhost:3000/" class="btn btn-primary" role="button">Home</a></p>

   <% students.forEach((student)=>{%>
   
    <tr>
       <td><%=student.sid%></td>
       <td><%=student.name%></td>
       <td><%=student.gpa%></td>
    </tr>


    


<% }) %>

   </table>

<p><a href="http://localhost:3000/addStudent" class="btn btn-primary" role="button">Add Student</a></p>

